@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-modam;
}
:root {
  --background: #ffedd5;
  --sidebar: #3d348b ;
  --box: #fff6eb;
  --text: #420039;
  --accent: #92417e; 
  --accent-soft: #6c1f59;
}

